/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/* Variaveis globais */
:root {
    ---color1: #00D4FF;
    ---color2: #00FFD6;
    ---color3: #0084FF;
    ---color4: #00FF80;
    ---color5: #0033FF;
    ---color6: #444f5a;
    ---font01: 'Encode Sans Condensed', sans-serif;
    ---font02: 'Nova Square', sans-serif;
}

/* Declarações globais */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(---font01);
    box-sizing: border-box;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Media Queries */
@media screen and (min-width: 266px) {
    #fotoAvatar {
        width: 266px;
        height: 266px;
    }
    .d-grid {
        justify-content: center !important;
    }
}
@media screen and (min-width: 425px) {
    #fotoAvatar {
        width: 360px;
        height: 360px;
    }
}
@media screen and (min-width: 768px) {
    #fotoAvatar {
        width: 500px;
        height: 500px;
    }
    #about #skills_section {
      margin-top: 17%;
    }
    #about #skills_section img {
      height: 2.5rem;
    }
}
@media screen and (min-width: 992px) {
  div#hero > div.container > div.row {
      height:min(95vh,800px);
  }
  #hero .img-container {
      max-width: none;
      margin-top: 0;
  }
  #fotoAvatar {
      width: 569px;
      height: 569px;
  }
  #about .container > .row {
    height: min(800px, 95vh);
  }
}
@media screen and (min-width: 1024px) {
    #fotoAvatar {
        width: 409px;
        height: 409px;
    }
}
@media screen and (min-width: 1440px) {
    #fotoAvatar {
        width: 510px;
        height: 510px;
    }
    #about #skills_section {
      margin-top: 0;
    }
    #about #skills_section img {
      height: 3rem;
    }
}

/* Barra Navegação */
nav {
    font-size: 1.6em;
}
.nav-link:hover {
    color: var(---color4);
}
.navbar-brand {
    font-size: 1.5em;
}
header #header {
    box-shadow: 0 3px 6px rgba(68, 79, 90,.2);
}

/* Area Introdução */
.root {
    width: 100vw;
    overflow-x: hidden;
}
#hero section p {
    font-size: 2rem;
}
#hero section h1 {
    font-family: var(---font02);
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
    line-height: 1;
}
#hero section p span {
    color: var(---color5);
}
#hero section .social-links {
    width: 50%;
    min-width: 200px;
    text-align: left;
}
#hero section .social-links a {
    text-decoration: none;
}
#hero section .social-links a i {
    font-size: 4rem;
    transition: .3s all ease-in-out;
    color: var(---color6);
}
#hero section .social-links a i:hover {
    color: var(---color4);
}

#fotoAvatar {
    border-radius: 30%;
    border: 2px solid black;
}
#hero .img-container {
    overflow: hidden;
    min-width: 16rem;
    width: 90%;
    aspect-ratio: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
#hero .img-container #canvas {
    width: 600px;
    height: 600px;
}

/* Area SOBRE MIM */
#about #about_section h1 {
  font-family: var(---font02);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
#about #skills_section img {
  height: 4.5rem;
  transition: .4 all ease-in-out;
}
img, svg {
  vertical-align: middle;
}
#about #skills_section span {
  font-style: italic;
  font-weight: 500;
  margin-left: 0.5rem;
}

/* Area seeMore */
#seeMore div a button {
  font-size: 3.5rem;
  border: 1px solid black;
  font-family: var(---font02);
}
#seeMore div a button:hover {
  color: var(---color4);
  background-color: var(---color6);
  transition: .4s all ease-in-out;
}





/* Botão de tema */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }