/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/* Declarações globais */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(---font01);
    box-sizing: border-box;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    div#hero > div.container > div.row {
        height:min(95vh,800px);
    }

    #hero .img-container {
        max-width: none;
        margin-top: 0;
    }
}


/* Variaveis globais */
:root {
    ---color1: #00D4FF;
    ---color2: #00FFD6;
    ---color3: #0084FF;
    ---color4: #00FF80;
    ---color5: #0033FF;
    ---font01: 'Encode Sans Condensed', sans-serif;
    ---font02: 'Nova Square', sans-serif;
}

/* Barra Navegação */
nav {
    font-size: 1.6em;
}
.nav-link:hover {
    color: var(---color4);
}
.navbar-brand {
    font-size: 1.5em;
}
header #header {
    box-shadow: 0 3px 6px rgba(68, 79, 90,.2);
}

/* Area Introdução */
.root {
    width: 100vw;
    overflow-x: hidden;
}
#hero section p {
    font-size: 2rem;
}
#hero section h1 {
    font-family: var(---font02);
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
    line-height: 1;
}
#hero section p span {
    color: var(---color5);
}
#hero section .social-links {
    width: 50%;
    min-width: 200px;
    text-align: left;
}
#hero section .social-links a {
    text-decoration: none;
}
#hero section .social-links a i {
    font-size: 4rem;
    transition: .3s all ease-in-out;
    color: #444f5a;
}
#hero section .social-links a i:hover {
    color: var(---color4);
}

#fotoAvatar {
    border-radius: 50%;
}
#hero .img-container {
    overflow: hidden;
    min-width: 16rem;
    width: 90%;
    aspect-ratio: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#hero .img-container #canvas {
    width: 100%;
    height: 100%;
}






/* Botão de tema */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }